/* --- Project box -------------------------------------------------------------------------------------------------- */
.project {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	height: 180px;
	padding: 4px;
	-o-box-shadow: -1px -1px 0 1px transparent;
	-moz-box-shadow: -1px -1px 0 1px transparent;
	-webkit-box-shadow: -1px -1px 0 1px transparent;
	box-shadow: -1px -1px 0 1px transparent;
	transition: box-shadow 150ms ease-in-out;
}

.project:hover {
	-o-box-shadow: 0 0 0 4px var(--primary-color), 0 -9px 0 4px var(--primary-color);
	-moz-box-shadow: 0 0 0 4px var(--primary-color), 0 -9px 0 4px var(--primary-color);
	-webkit-box-shadow: 0 0 0 4px var(--primary-color), 0 -9px 0 4px var(--primary-color);
	box-shadow: 0 0 0 4px var(--primary-color), 0 -9px 0 4px var(--primary-color);
}

/* // Phones */
@media all and (max-width: 480px) {
	.project { height: auto; }
}

/* -- Window title -- */
.project::after {
	content: attr(data-window-title);
	position: absolute;
	top: -11px;
	left: 5px;
	font-size: 10px;
	color: var(--text-color_primary);
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

.project:hover::after { opacity: 1; }

/* -- Project image -- */
.project .project-img {
	box-sizing: border-box;
	flex-shrink: 0;
	flex-grow: 0;
	text-align: center;
	width: 35%;
	background: var(--secondary-color-5);
}

.project .project-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* -- Project infos -- */
.project .project-infos {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 15px;
}

/* - Name - */
.project .project-infos .project-name { margin-top: 0; color: var(--text-emphasis_background); }

/* // Phones */
@media all and (max-width: 480px) {
	.project .project-infos .project-name { font-size: 1em; margin-right: 1.5em; }
}

/* - Link to the project - */
.project .project-infos .project-link {
	position: absolute;
	top: 1em;
	right: 15px;
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	text-decoration: none;
	transition: color 150ms ease-in;
}
.project .project-infos .project-link:hover { color: var(--primary-color); }

.project .project-infos .project-link span {
	position: absolute;
	top: 0.15em;
	right: 1.25em;
	display: inline-block;
	text-align: right;
	width: 0;
	height: 1em;
	line-height: 1em;
	padding-right: 0;
	color: var(--text-color_background);
	white-space: nowrap;
	transition: width 150ms ease-in, padding-right 150ms ease-in, color 150ms ease-in;
	overflow: hidden;
}
.project .project-infos .project-link:hover span {
	width: 150px;
	padding-right: 5px;
	color: var(--primary-color);
}

.project .project-infos .project-link .project-link-icon {
	vertical-align: middle;
	width: 1em;
	height: 1em;
	color: var(--text-color_background);
	transition: color 150ms ease-in;
}
.project .project-infos .project-link:hover .project-link-icon { color: var(--primary-color); }

/* - Description - */
.project .project-infos .project-desc {
	display: -webkit-box;
	font-size: 0.9em;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow-y: hidden;
}

/* // Phones */
@media all and (max-width: 480px) {
	.project .project-infos .project-desc { display: block; font-size: 0.8em; }
}

/* - Techs - */
.project .project-infos .project-techs {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 10px;
	flex-grow: 1;
	font-size: 0.8em;
	margin-top: 15px;
	color: var(--tertiary-color);
}
