/* --- Map - Marker ------------------------------------------------------------------------------------------------- */
.map-marker {
	width: 45px;
	height: 45px;
	background: rgba(0, 0, 0, 0.5) url("../../../assets/images/icons/marker/marker.png") center bottom no-repeat;
	background-size: contain;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}
