/* --- Button ------------------------------------------------------------------------------------------------------- */
/* -- Button -- */
.button {
	box-sizing: border-box;
	position: relative;
	display: block;
	text-align: center;
	width: 100%;
	max-width: 240px;
	height: 55px;
	line-height: calc(55px - 0.3em);
	background: none;
	border: thin var(--tertiary-color) solid;
	color: var(--text-color_background);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	text-decoration: none;
	cursor: pointer;
}

/* -- Borders -- */
.button .button-borders {
	position: absolute;
	top: -0.5em;
	right: -0.5em;
	bottom: -0.5em;
	left: -0.5em;
	transition: border-color 75ms ease-in-out, border-width 75ms ease-in-out;
}

.button .button-borders::before, .button .button-borders::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 40%;
	border: thin rgba(225, 225, 225, 0.3) solid;
}

.button .button-borders::before { top: 0; border-bottom: none; }
.button .button-borders::after { bottom: 0; border-top: none; }

/* -- Animated background -- */
.button .button-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.button .button-background::before {
	content: "";
	position: absolute;
	top: -10px;
	bottom: -10px;
	left: -5%;
	width: 0;
	background: var(--tertiary-color);
	transform: skewX(-24deg);
	transition: width 300ms ease-out;
	z-index: -1;
}

/* -- Decoration -- */
.button .decoration {
	position: absolute;
	right: 20px;
	display: inline-block;
	opacity: 0;
	transition: opacity 350ms linear, transform 350ms linear;
}

/* // Tablets */
@media all and (min-width: 768px) and (max-width: 1024px) {
	.button .decoration { display: none; }
}

/* // Phones */
@media all and (max-width: 480px) {
	.button .decoration { display: none; }
}

@media all and (max-height: 480px) and (orientation: landscape) {
	.button .decoration { display: none; }
}

/* -- Events -- */
/* - Borders - */
.button:active, .button:focus { outline: none; }

.button:active .button-borders::before,
.button:active .button-borders::after,
.button:focus .button-borders::before,
.button:focus .button-borders::after { border-color: var(--primary-color); border-width: 2px; }

/* - Background - */
.button:hover .button-background::before { width: 110%; }

/* - Decoration - */
.button:hover .decoration { opacity: 1; transform: translateX(-6px); }