/* --- WebP --------------------------------------------------------------------------------------------------------- */
.webp, .webp picture {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}

/* -- Loader -- */
.webp .loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* -- Image -- */
.webp picture img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
