/* --- Experiences ------------------------------------------------------------------------------------------------ */
/* -- Container -- */
.experiences-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	width: 65%;
	margin: 0 auto;
}

/* // Tablets */
@media all and (min-width: 768px) and (max-width: 1024px) {
	.experiences-container { width: 95%; }
}

/* // Phones */
@media all and (max-width: 480px) {
	.experiences-container {
		flex-direction: column;
		width: 100%;
		font-size: 0.9em;
	}
}

@media all and (max-height: 480px) and (orientation: landscape) {
	.experiences-container {
		flex-direction: column;
		width: 100%;
		font-size: 0.9em;
	}
}


/* // Printer */
@media print {
	.experiences-container {
		flex-direction: column;
		width: 85%;
	}
}

/* -- Selector -- */
.experiences-container .experience-selector {
	flex-grow: 0;
	flex-shrink: 0;
	width: 25%;
}

/* // Phones */
@media all and (max-width: 480px) {
	.experiences-container .experience-selector {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
		width: 100%;
		overflow-x: scroll;
	}
}

@media all and (max-height: 480px) and (orientation: landscape) {
	.experiences-container .experience-selector {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
		width: 100%;
		overflow-x: scroll;
	}
}

/* -- Info box -- */
.experiences-container .experience-infos { padding: 0 15px; }

/* // Phones */
@media all and (max-width: 480px) {
	.experiences-container .experience-infos { padding: 10px 0 0 0; }
}

@media all and (max-height: 480px) and (orientation: landscape) {
	.experiences-container .experience-infos { padding: 10px 0 0 0; }
}
