/* --- Star --------------------------------------------------------------------------------------------------------- */
.stars-sky .star {
	position: absolute;
	width: 0.6em;
	height: 0.6em;
	background: red;
}