/* --- Star --------------------------------------------------------------------------------------------------------- */
.stars-sky .star {
	position: absolute;
	width: 0.2em;
	height: 0.2em;
	background: #FFFFFF;
	border-radius: 50%;
	box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);
}

/* -- Opacity levels -- */
.stars-sky .star.opacity-1 { opacity: 0.7; }
.stars-sky .star.opacity-2 { opacity: 0.5; }
.stars-sky .star.opacity-3 { opacity: 0.3; }