/* --- Experience - Selector button --------------------------------------------------------------------------------- */
.experience-button {
	position: relative;
	padding: 0.65em 0.625em;
	cursor: pointer;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 1px;
	border-color: #665E32;
	border-style: solid;
}

/* // Phones */
@media all and (max-width: 480px) {
	.experience-button {
		border-top-width: 1px;
		border-left-width: 0;
	}
}

@media all and (max-height: 480px) and (orientation: landscape) {
	.experience-button {
		border-top-width: 1px;
		border-left-width: 0;
	}
}

/* -- Animated background and border -- */
.experience-button::before,
.experience-button::after {
	content: "";
	position: absolute;
	background: var(--primary-color);
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	transition-duration: 300ms;
	pointer-events: none;
}

/* -- Animated background -- */
.experience-button::before {
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	opacity: 0.35;
	transition-property: width;
}
.experience-button.selected::before { width: 100% }

/* // Phones */
@media all and (max-width: 480px) {
	.experience-button::before {
		width: 100%;
		height: 0;
		transition-property: height;
	}
	.experience-button.selected::before { width: 100%; height: 100% }
}

@media all and (max-height: 480px) and (orientation: landscape) {
	.experience-button::before {
		width: 100%;
		height: 0;
		transition-property: height;
	}
	.experience-button.selected::before { width: 100%; height: 100% }
}

/* -- Border -- */
.experience-button::after {
	top: 50%;
	bottom: 0;
	left: -2px;
	width: 3px;
	height: 0;
	transition-property: top, height;
}
.experience-button:hover::after,
.experience-button.selected::after {
	top: 0;
	height: 100%;
}

/* // Phones */
@media all and (max-width: 480px) {
	.experience-button::after {
		top: -2px;
		left: 50%;
		width: 0;
		height: 3px;
		transition-property: left, width;
	}
	.experience-button:hover::after,
	.experience-button.selected::after {
		left: 0;
		width: 100%;
		height: 3px;
	}
}

@media all and (max-height: 480px) and (orientation: landscape) {
	.experience-button::after {
		top: -2px;
		left: 50%;
		width: 0;
		height: 3px;
		transition-property: left, width;
	}
	.experience-button:hover::after,
	.experience-button.selected::after {
		left: 0;
		width: 100%;
		height: 3px;
	}
}

/* -- Job title -- */
.experience-button .exp-btn-title {
	margin: 0;
	color: var(--primary-color);
}

/* -- Company name -- */
.experience-button .exp-btn-company {
	display: inline-block;
	width: 100%;
	font-size: 0.8em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* // Phones */
@media all and (max-width: 480px) {
	.experience-button .exp-btn-title { display: none; }

	.experience-button .exp-btn-company {
		display: inline;
		font-size: 1em;
		color: var(--primary-color);
		font-family: "Montserrat", "Roboto", "Helvetica Neue", sans-serif;
		font-weight: 500;
		white-space: nowrap;
		text-overflow: initial;
		overflow: initial;
	}
}

@media all and (max-height: 480px) and (orientation: landscape) {
	.experience-button .exp-btn-title { display: none; }

	.experience-button .exp-btn-company {
		display: inline;
		font-size: 1em;
		color: var(--primary-color);
		font-family: "Montserrat", "Roboto", "Helvetica Neue", sans-serif;
		font-weight: 500;
		white-space: nowrap;
		text-overflow: initial;
		overflow: initial;
	}
}
