/* --- Website root ------------------------------------------------------------------------------------------------- */
:root {

}

html {
	box-sizing: border-box;
	width: 100%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

/* --- Navigation menu ---------------------------------------------------------------------------------------------- */
nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	background: #ECECEC;
	z-index: 1000;
}

nav .nav-links .nav-link {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}

/* --- Sections ----------------------------------------------------------------------------------------------------- */
header, section {
	position: relative;
	min-height: 100vh;
}