/* --- Social network icon ------------------------------------------------------------------------------------------ */
/* -- Container -- */
.social-network {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: 3em;
}

/* -- Icon -- */
.social-network .social-network-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	color: var(--text-emphasis_background);
	transition: color 150ms ease-in-out, width 100ms ease-in-out, height 100ms ease-in-out;
	transform: translate(-50%, -50%);
}
.social-network .social-network-icon:hover {
	width: 125%;
	height: 125%;
	color: var(--tertiary-color);
}
