/* --- Social network icon ------------------------------------------------------------------------------------------ */
.social-network {
	display: inline-block;
	width: 48px;
	height: 48px;
}

.social-network object {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

/* NOT WORKING */
.social-network:not(:hover) svg { fill: purple; }

/* svg { fill: red; } */
