/* --- Social network icon ------------------------------------------------------------------------------------------ */
/* -- Container -- */
.social-network {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: 3em;
}

/* -- Icon -- */
.social-network .social-network-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	color: var(--text-emphasis_background);
	transition-property: color, width, height;
	transition-duration: 150ms, 100ms, 100ms;
	transition-timing-function: ease-in-out;
	transform: translate(-50%, -50%);
}
.social-network:hover .social-network-icon,
.social-network:focus .social-network-icon {
	width: 125%;
	height: 125%;
	color: var(--secondary-color);
}
