/* --- Social network icon ------------------------------------------------------------------------------------------ */
.social-network {
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: 3em;
}

.social-network svg { fill: var(--text-emphasis_background); }
.social-network svg:hover { fill: var(--tertiary-color); }
