/* --- Loading Status --------------------------------------------------------------------------------------------- */
/* -- Container -- */
.loading-status {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	line-height: 1.2em;
	font-size: 0.8em;
	color: var(--text-color_background);
	margin: 1em 0 1.2em 0;
	overflow: hidden;
}

.loading-status::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-moz-box-shadow: inset 0 20px 20px -6px var(--background-color-3);
	-webkit-box-shadow: inset 0 20px 20px -6px var(--background-color-3);
	box-shadow: inset 0 20px 20px -6px var(--background-color-3);
	z-index: 1;
	opacity: 0.5;
}

/* -- Line -- */
.loading-status .loading-status-line {
	margin: 0;
	color: inherit;
	opacity: 0.75;
}
.loading-status .loading-status-line:last-child { opacity: 1; }