/* --- Stars sky ---------------------------------------------------------------------------------------------------- */
.stars-sky {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* -- Star overlays -- */
.stars-sky .stars-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.stars-sky .stars-layer.far-stars     { font-size: 0.5em; }
.stars-sky .stars-layer.midway-stars  { font-size: 1em; }
.stars-sky .stars-layer.close-stars   { font-size: 1.5em; }

/* -- Nebula -- */
.stars-sky .stars-layer .nebula {
	position: absolute;
	width: 200px;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.stars-sky .stars-layer .nebula.style-1 {
	background-image: url("../../assets/images/galaxy_transparent_1.png");
	top: 60%;
	right: 0;
}

.stars-sky .stars-layer .nebula.style-2 {
	background-image: url("../../assets/images/galaxy_transparent_2.png");
	opacity: 0.5;
	top: 10%;
	left: 15%;
	width: 140px;
	height: 140px;
}