/* --- Stars sky ---------------------------------------------------------------------------------------------------- */
/* -- Wrapper -- */
.stars-sky-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: visible;
}

/* -- Container -- */
.stars-sky {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

/* // Printer */
@media print {
	.stars-sky { display: none; }
}

/* -- Star overlays -- */
.stars-sky .stars-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.stars-sky .stars-layer.far-stars     { font-size: 0.5em; }
.stars-sky .stars-layer.midway-stars  { font-size: 1em; }
.stars-sky .stars-layer.close-stars   { font-size: 1.5em; }

/* -- Nebula -- */
.stars-sky .stars-layer .nebula {
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.stars-sky .stars-layer .nebula.style-1 {
	/* --- Background image fallback --- */
		/*noinspection CssOverwrittenProperties*/ background-image: url("../../assets/images/galaxies/galaxy_transparent_1.png");
		/*noinspection CssOverwrittenProperties*/ background-image: image-set(
			url("../../assets/images/galaxies/galaxy_transparent_1.webp") 1x,
			url("../../assets/images/galaxies/galaxy_transparent_1.png") 1x
		);
	/* --- ------------------------- --- */
	top: 60%;
	right: 0;
	width: 200px;
	height: 200px;
}

.stars-sky .stars-layer .nebula.style-2 {
	/* --- Background image fallback --- */
		/*noinspection CssOverwrittenProperties*/ background-image: url("../../assets/images/galaxies/galaxy_transparent_2.png");
		/*noinspection CssOverwrittenProperties*/ background-image: image-set(
			url("../../assets/images/galaxies/galaxy_transparent_2.webp") 1x,
			url("../../assets/images/galaxies/galaxy_transparent_2.png") 1x
		);
	/* --- ------------------------- --- */
	opacity: 0.5;
	top: 10%;
	left: 15%;
	width: 140px;
	height: 140px;
}