/* --- CV Modal ----------------------------------------------------------------------------------------------------- */
.cv-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 50px;
	visibility: visible;
	opacity: 1;
	z-index: 5000;
}
.cv-modal.hidden { opacity: 0; pointer-events: none; visibility: hidden; }

/* -- Background -- */
.cv-modal .cv-modal-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
}
.cv-modal.hiding .cv-modal-background { opacity: 0; }

/* -- Modal box -- */
.cv-modal-box {
	box-sizing: border-box;
	position: fixed;
	top: 1vh;
	right: -1200px;
	width: 1100px;
	height: 98vh;
	padding: 0 50px;
	background: var(--background-color);
	border: 5px var(--primary-color) solid;
	transform: skewX(-5deg);
	transition-property: right;
	transition-timing-function: ease-in-out;
}
.cv-modal.shown .cv-modal-box { right: -50px; }

/* -- Close button -- */
.cv-modal .cv-modal-box .close-btn {
	position: absolute;
	top: 0;
	left: -1px;
	width: 25px;
	height: 25px;
	background: var(--primary-color);
	border: 2px black solid;
	border-top: none;
	border-left: none;
	z-index: 10;
	cursor: pointer;
}

.cv-modal .cv-modal-box .close-btn .close-btn-icon {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: var(--text-color_primary);
}

/* -- Content -- */
.cv-modal .cv-modal-box .modal-content {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	transform: skewX(5deg) translateZ(0);
	backface-visibility: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Fix the text layer misalignment */
.cv-modal .cv-modal-box .modal-content .pdf-page .react-pdf__Page__textContent {
	top: 0 !important;
	left: 0 !important;
	transform: none !important;
}

/* -- Page number -- */
.cv-modal .cv-modal-box .page-number {
	position: absolute;
	bottom: 0;
	left: -2px;
	display: inline-block;
	padding: 0.2em 0.6em;
	background: var(--primary-color);
	color: var(--text-color_primary);
	z-index: 5;
}

/* -- Download button -- */
.cv-modal .cv-modal-box .cv-download {
	box-sizing: border-box;
	position: absolute;
	right: 0.3em;
	bottom: -1px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 1.25em;
	padding: 0.3em 0.7em;
	background: var(--primary-color);
	color: var(--text-color_primary);
	border: 2px black solid;
	border-right: none;
	border-bottom: none;
	font-weight: 600;
	text-decoration: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

.cv-modal .cv-modal-box .cv-download .cv-download-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}
