/* --- Reveal Scroll ------------------------------------------------------------------------------------------------ */
.reveal-scroll {
	opacity: 0;
	transform: translateY(2.5%);
	transition-property: opacity, transform;
	transition-duration: 225ms;
	transition-timing-function: ease-in;
}

.reveal-scroll.visible {
	opacity: 1;
	transform: translateY(0%);
}

/* // Printer */
@media print {
	.reveal-scroll, .reveal-scroll.visible {
		opacity: 1 !important;
		transform: translate(0%) !important;
	}
}
