/* --- App navigation - Navigation link ----------------------------------------------------------------------------- */
.navigation-link {
	position: relative;
	display: inline-block;
	font-size: 1em !important;
	margin: 0 10px;
	padding: 0.3em;
	color: var(--text-emphasis_background) !important;
	background: none;
	border: none;
	border-radius: 2px;
	font-weight: 500 !important;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	cursor: pointer;
}

.App-navigation .navigation-links:not(.phone-mode) .navigation-links-content .navigation-link:last-child {
	margin-right: 0;
}

.App-navigation .navigation-links.phone-mode .navigation-links-content .navigation-link {
	position: absolute;
	top: 0;
	right: -10px; /* Right margin */
	bottom: 0;
	transition: transform 150ms ease-in-out;
}

.App-navigation .navigation-links.phone-mode .navigation-links-content .navigation-link:not(.current) {
	transform: translateY(calc(var(--nav-height) * -1));
}

.App-navigation .navigation-links.phone-mode .navigation-links-content .navigation-link.current ~ .navigation-link {
	transform: translateY(var(--nav-height));
}

/* -- Animated background and border -- */
.navigation-link::before,
.navigation-link::after {
	content: "";
	position: absolute;
	top: 20%;
	border-radius: 2px;
	transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}

/* - Background - */
.navigation-link::before {
	left: 0;
	width: 100%;
	height: 0;
	background: var(--primary-color);
	opacity: 0.35;
}

/* - Border - */
.navigation-link::after {
	left: 50%;
	width: 0;
	height: 1px;
	border-top: thin transparent solid;
}

/* -- Events -- */
/* - Border - */
.navigation-link:hover::after,
.navigation-link:focus::after,
.navigation-link:focus-visible::after,
.navigation-link.current::after {
	left: 0;
	width: 100%;
	border-top-color: var(--primary-color);
}

.navigation-link:focus-visible::after { border-top-color: var(--tertiary-color); }

/* - Focus - */
.navigation-link:focus-visible,
.navigation-link.current:focus-visible { color: var(--tertiary-color) !important; outline: none; }

/* - Selected - */
.navigation-link.current { color: var(--primary-color) !important; }

.navigation-link.current::before {
	height: 60%;
	bottom: 20%;
}