/* --- App scrollbar -------------------------------------------------------------------------------------------------*/
.App-scrollbar .scrollbar-vertical-track { margin-top: 9px; }

.App-scrollbar .scrollbar-vertical-thumb {
	background: var(--background-color⨣3);
	cursor: pointer;
}

.App-scrollbar .scrollbar-view { scroll-behavior: smooth; }

/* // Printer */
@media print {
	.App-scrollbar {
		min-height: unset !important;
		max-height: unset !important;
	}

	.App-scrollbar .scrollbar-view {
		min-height:unset !important;
		max-height: unset !important;
		overflow: visible !important;
	}
}

/* --- App content ---------------------------------------------------------------------------------------------------*/
.App .App-padded-content { padding-left: calc(100vw - 100%); }

/* // Printer */
@media print {
	.App .App-content { clip-path: none !important; }

	.App .App-padded-content { padding-left: 0; }
}

/* --- Sections ----------------------------------------------------------------------------------------------------- */
section.portfolio-section {
	box-sizing: border-box;
	position: relative;
	min-height: calc(100vh - 60px);
	padding: 50px 10vw 0 10vw;
	scroll-margin-top: 100px;
}

/* // Tablets */
@media all and (min-width: 768px) and (max-width: 1024px) {
	section.portfolio-section {
		padding-left: 3vw;
		padding-right: 3vw;
	}
}

/* // Printer */
@media print {
	section.portfolio-section {
		min-height: unset;
		height: auto;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
		break-inside: avoid;
		page-break-inside: avoid;
	}

	section.portfolio-section > h2 { margin-left: 7.5% !important; }
}

/* --- "Art" things between section --------------------------------------------------------------------------------- */
.section-art .rocket {
	animation: flying-rocket 3s linear infinite;
}

@keyframes flying-rocket {
	0%, 100% { transform: rotate(0) translateX(-2%); }

	25% { transform: rotate(3deg); }
	50% { transform: rotate(0) translateX(3%); }
	75% { transform: rotate(-4deg); }
}


/* --- "About me" section ------------------------------------------------------------------------------------------- */
/* -- Container -- */
section#presentation .about-content  {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 35px;
	transform: translate(-50%, -50%);
}

/* // Tablets */
@media all and (min-width: 768px) and (max-width: 1024px) {
	section#presentation .about-content { gap: 60px; }
}

/* // Printer */
@media print {
	section#presentation .about-content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	section#presentation .about-content {
		position: relative;
		top: unset;
		left: unset;
		transform: none;
	}
}

/* -- Welcome message -- */
section#presentation .about-content .welcome-msg {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

section#presentation .about-content .hello {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	color: var(--primary-color);
}
section#presentation .about-content .my-name {
	font-size: 3.5em;
	margin: 0;
	color: var(--text-color_background);
}

/* -- My situation -- */
section#presentation .about-content .my-situation {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

section#presentation .about-content .my-situation .real-situation {
	margin-top: 0;
	font-size: 1.70em;
	font-weight: 500;
}

section#presentation .about-content .my-situation .fake-situation {
	color: var(--tertiary-color);
	white-space: nowrap;
	z-index: -1;
}

section#presentation .fake-situation-img {
	position: absolute;
	top: 50%;
	left: 12%;
	max-width: 250px;
	max-height: 250px;
	transform: rotate(20deg);
	animation: moveIndeterminate 4s linear infinite;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
}

@keyframes moveIndeterminate {
	0%, 100% { transform: translate(0, 0); }
	75% { transform: translate(3px, -9px) rotate(2deg); }
	50% { transform: translate(7px, -2px); }
	25% { transform: translate(4px, 3px) rotate(-3deg); }
}

/* // Tablets */
@media all and (min-width: 768px) and (max-width: 1024px) {
	section#presentation .fake-situation-img {
		top: auto;
		bottom: 5%;
		left: 3%;
		width: 125px;
		height: 125px;
	}
}

/* // Phones */
@media all and (max-width: 480px) {
	section#presentation .about-content .hello { font-size: 1.25em; }
	section#presentation .about-content .my-name { font-size: 3em; }

	section#presentation .about-content .my-situation .real-situation { font-size: 1.5em; }
	section#presentation .about-content .my-situation .fake-situation { font-size: 0.7em; margin-top: 0.7em; }
}

@media all and (max-width: 480px) and (orientation: portrait) {
	section#presentation .fake-situation-img {
		top: auto;
		bottom: -3%;
		left: 3%;
		width: 90px;
		height: 90px;
	}
}

/* // Printer */
@media print {
	section#presentation .fake-situation-img { display: none; }
}

/* -- CV button */
section#presentation .about-content .cv-btn { margin: 60px auto 0 auto; }

/* // Printer */
@media print {
	section#presentation .about-content .cv-btn { display: none; }
}

/* -- Profile picture -- */
section#presentation .profile-picture {
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 0 0 50% 50%;
	overflow: hidden;
}

section#presentation .profile-picture::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

section#presentation .profile-picture-img {
	width: 100%;
	height: 100%;
}

/* // Phones */
@media all and (max-width: 480px) and (orientation: portrait) {
	section#presentation .profile-picture { display: none; }
}

/* // Printer */
@media print {
	section#presentation .profile-picture { background: rgba(0, 0, 0, 0.15); }
}

/* --- "Experiences" section ---------------------------------------------------------------------------------------- */
section#experiences h2 { margin-left: 15%; }

/* --- "Projects" section ------------------------------------------------------------------------------------------- */
section#projets h2 { margin-left: 7%; }

section#projets .projects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	gap: 30px;
	width: 65vw;
	margin: 0 auto;
}

/* // Tablets */
@media all and (min-width: 768px) and (max-width: 1024px) {
	section#projets .projects-grid { grid-template-columns: 1fr; }
}

/* // Phones */
@media all and (max-width: 480px) {
	section#projets .projects-grid {
		grid-template-columns: 1fr;
		grid-auto-rows: initial;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

/* // Printer */
@media print {
	section#projets .projects-grid {
		display: block;
		width: 85%;
	}

	section#projets .projects-grid > .project:not(:last-child) { margin-bottom: 30px; }
}

/* --- "Contact" section -------------------------------------------------------------------------------------------- */
section#contact h2 { margin-left: 30%; }

section#contact .contact-content {
	width: 40%;
	margin: 0 auto;
}

section#contact .contact-content .emphasis { color: var(--primary-color); }

/* // Printer */
@media print {
	section#contact .contact-content { width: 85%; }
}

/* -- Explanation -- */
section#contact .contact-content .contact-explanation {
	margin-bottom: 30px;
}

/* -- Links -- */
section#contact .contact-content .contact-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* // Printer */
@media print {
	section#contact .contact-content .contact-links { display: none; }
}

/* - Networks - */
section#contact .contact-content .contact-links .contact-networks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.15em;
}
section#contact .contact-content .contact-links .contact-networks .social-network:not(:last-child) { margin-right: 0.5em; }

/* - Separator - */
section#contact .contact-content .contact-links .contact-sep {
	align-self: stretch;
	width: 2px;
	margin: 0 1.5em 0 1em;
	background: var(--text-attenuate_background⨣1);
}

/* - Mail link - */
section#contact .contact-content .contact-links .contact-mail {
	width: 40%;
}

/* -- Map -- */
section#contact .contact-content .map {
	width: 100%;
	margin: 30px auto 0 auto;
}

/* // Tablets */
@media all and (min-width: 768px) and (max-width: 1024px) {
	section#contact h2 { margin-left: 20%; }

	section#contact .contact-content { width: 60%; }
}

/* // Phones */
@media all and (max-width: 480px) {
	section#contact { font-size: 0.8em; }

	section#contact h2 { margin-left: 0; }

	section#contact .contact-content { width: 100%; }
}

/* // Printer */
@media print {
	section#contact .contact-content .map { width: 65%; }
}

	/* --- Footer ------------------------------------------------------------------------------------------------------- */
footer {
	margin-top: 50px;
	padding: 50px 50px 25px 50px;
	background: var(--background-color⨣1);
}

/* // Printer */
@media print {
	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		margin-top: 0;
		padding: 0;
		background: none;
	}
}

/* -- The swag quote -- */
footer .stylish-quote {
	width: 50%;
	font-size: 1.65em;
	margin: 0 auto;
	font-weight: 600;
}

footer .stylish-quote blockquote,
footer .stylish-quote figcaption {
	margin-left: 40px;
	margin-right: 40px;
}

footer .stylish-quote blockquote {
	text-indent: -0.50em;
	color: var(--text-emphasis_background);
	border-left: 2px red solid;
}

@supports (hanging-punctuation: first) {
	footer .stylish-quote blockquote {
		text-indent: 0;
		hanging-punctuation: first;
	}
}

footer .stylish-quote blockquote .emphasis { color: var(--primary-color); }

footer .stylish-quote figcaption {
	font-size: 0.9em;
	color: var(--text-color_background);
}

/* // Tablets */
@media all and (min-width: 768px) and (max-width: 1024px) {
	footer .stylish-quote { width: 90%; }
}

/* // Phones */
@media all and (max-width: 480px) {
	footer .stylish-quote { width: 100%; font-size: 1.25em; }

	footer .stylish-quote blockquote,
	footer .stylish-quote figcaption { margin-left: 0; margin-right: 0; }
}

/* // Printer */
@media print {
	footer .stylish-quote { display: none; }
}

/* -- Licensing and copyrights -- */
footer .licensing {
	text-align: center;
	margin-top: 50px;
}

footer .licensing .copyright {
	margin: 0;
	color: var(--text-attenuate_background⨣1);
}

footer .licensing .copyright .link { color: var(--tertiary-desaturated); }

footer .licensing .my-copyright { font-weight: 600; }
footer .licensing :not(.my-copyright) { font-size: 0.9em; }

/* // Phones */
@media all and (max-width: 480px) {
	footer .licensing { font-size: 0.8em; }
}

/* // Printer */
@media print {
	footer .licensing { margin-top: 0; }

	footer .licensing .my-copyright {
		font-weight: normal;
		font-size: 10pt;
	}

	footer .licensing .fontawesome-copyright { display: none; }
}
