/* --- Sections ----------------------------------------------------------------------------------------------------- */
section.portfolio-section {
	box-sizing: border-box;
	position: relative;
	min-height: 100vh;
	padding: 50px 10vw 0 10vw;
}

/* --- "About me" section ------------------------------------------------------------------------------------------- */
/* -- Container -- */
section#presentation .about-content  {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	transform: translate(-50%, -50%);
}

/* -- Welcome message -- */
section#presentation .about-content .welcome-msg {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

section#presentation .about-content .hello { font-size: 2em; }
section#presentation .about-content .my-name { font-size: 2.5em; }

/* -- My situation -- */
section#presentation .about-content .my-situation .fake-situation { text-decoration: line-through; }
section#presentation .about-content .my-situation .real-situation { font-size: 1.75em; }

/* -- Profile picture -- */
section#presentation .profile-picture {
	width: 250px;
	height: 250px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

section#presentation .profile-picture img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* --- "Projects" section ------------------------------------------------------------------------------------------- */
section#projets .projects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 30px;
	width: 65vw;
	margin: 0 auto;
}

