/* --- Sections ----------------------------------------------------------------------------------------------------- */
section.portfolio-section {
	box-sizing: border-box;
	position: relative;
	min-height: 100vh;
	padding: 50px 10vw 0 10vw;
	scroll-margin-top: 100px;
}

/* --- "About me" section ------------------------------------------------------------------------------------------- */
/* -- Container -- */
section#presentation .about-content  {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 35px;
	transform: translate(-50%, -50%);
}

/* -- Welcome message -- */
section#presentation .about-content .welcome-msg {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

section#presentation .about-content .hello { font-size: 1.5em; color: var(--primary-color); }
section#presentation .about-content .my-name {
	font-size: 3.5em;
	margin: 0 0 0.25em 0;
	color: var(--text-color_background);
}

/* -- My situation -- */
section#presentation .about-content .my-situation {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

section#presentation .about-content .my-situation .fake-situation-img {
	position: absolute;
	top: -15px;
	left: -375px;
	max-width: 250px;
	max-height: 250px;
	transform: rotate(20deg);
	animation: moveIndeterminate 4s linear infinite;
}

@keyframes moveIndeterminate {
	0%, 100% { transform: translate(0, 0); }
	75% { transform: translate(3px, -9px) rotate(2deg); }
	50% { transform: translate(7px, -2px); }
	25% { transform: translate(4px, 3px) rotate(-3deg); }
}

section#presentation .about-content .my-situation .fake-situation { color: var(--tertiary-color); opacity: 0.75; }
section#presentation .about-content .my-situation .real-situation { font-size: 1.75em; }

/* -- CV button */
section#presentation .about-content .cv-btn { margin: 40px auto 0 auto; }

/* -- Profile picture -- */
section#presentation .profile-picture {
	width: 250px;
	height: 250px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

section#presentation .profile-picture img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* --- "Projects" section ------------------------------------------------------------------------------------------- */
section#projets .projects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 30px;
	width: 65vw;
	margin: 0 auto;
}

