/* --- Root CSS ----------------------------------------------------------------------------------------------------- */
:root {
  --primary-color: #FAED26;
  --secondary-color: #7711D0;
  --secondary-color-3: #511786;
  --secondary-color-5: #2C1342;
  --tertiary-color: #FA269D;
  --tertiary-desaturated: #D44C98;
  --background-color: #171139;
  --background-color⨣1: #3B3257;
  --background-color⨣3: #857D97;
  --mapboxgl-tooltip-background: #302E38;
  --text-attenuate_background⨣1: #857D97;
  --text-color_background: #D0CACA;
  --text-emphasis_background: #F3ECEC;
  --text-color_primary: #090909;
}

html {
  box-sizing: border-box;
  width: 100%;
  background: var(--background-color);
  background: -moz-linear-gradient(323deg, var(--background-color) 0%, rgba(54, 45, 105, 1) 100%);
  background: -webkit-linear-gradient(323deg, var(--background-color) 0%, rgba(54, 45, 105, 1) 100%);
  background: linear-gradient(323deg, var(--background-color) 0%, rgba(54, 45, 105, 1) 100%);
  color: var(--text-color_background);
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2 { color: var(--primary-color); }

/* --- Special classes ---------------------------------------------------------------------------------------------- */
/* -- Fonts -- */
body, .normal-font {
  font-family: "Noto sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.title-font {
  font-family: "Montserrat", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: 1.75em;
}

/* -- Links -- */
.link {
  color: var(--tertiary-color);
}

/* -- Animated strikethrough -- */
/* See https://stackoverflow.com/a/72459455/15024857 */
.animated-strikethrough {
  --strike: 0; /* Enable/disable the strikethrough */
  background: linear-gradient(90deg, transparent, currentColor 0) no-repeat right center / calc(var(--strike) * 100%) 0.05em;
  transition: background-size 330ms cubic-bezier(0.6, 0.1, 0.3, 0.9);
}

/* Not working on DOM load */
.animated-strikethrough.always-on { transition-delay: 2s; }

.animated-strikethrough.always-on,
.animated-strikethrough.on-hover:hover {
  --strike: 1;
  background-position-x: left;
}

/* -- Scrolling -- */
.no-scroll-x, .no-scroll { overflow-x: hidden; }
.no-scroll-y, .no-scroll { overflow-y: hidden; }
