/* --- Root CSS ----------------------------------------------------------------------------------------------------- */
:root {
  --primary-color: #FAED26;
  --secondary-color: #FA269D;
  --secondary-desaturated: #D44C98;
  --background-color: #171139;
  --background-color-3: #120920;
  --background-color⨣1: #3B3257;
  --background-color⨣2: #5F5676;
  --background-color⨣3: #857D97;
  --mapboxgl-tooltip-background: #302E38;
  --text-attenuate_background⨣1: #857D97;
  --text-color_background: #D0CACA;
  --text-emphasis_background: #F3ECEC;
  --text-color_primary: #090909;
  --error-color: #C91F37;
}

html {
  box-sizing: border-box;
  width: 100%;
  background: var(--background-color);
  background: -moz-linear-gradient(323deg, var(--background-color) 0%, rgba(54, 45, 105, 1) 100%);
  background: -webkit-linear-gradient(323deg, var(--background-color) 0%, rgba(54, 45, 105, 1) 100%);
  background: linear-gradient(323deg, var(--background-color) 0%, rgba(54, 45, 105, 1) 100%);
  color: var(--text-color_background);
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2 { color: var(--primary-color); }

/* // Printer */
@media print {
  :root {
    --primary-color: #0512d9;
    --secondary-color: #FA269D;
    --secondary-desaturated: #D44C98;
    --background-color: #F6F6F6;
    --background-color-3: #FFFFFF;
    --background-color⨣1: #C8C8C8;
    --background-color⨣2: #9D9D9D;
    --background-color⨣3: #737373;
    --mapboxgl-tooltip-background: #F6F6F6;
    --text-attenuate_background⨣1: #808080;
    --text-color_background: #191919;
    --text-emphasis_background: #000000;
    --text-color_primary: #090909;
  }

  html { background: var(--background-color); }

  html, body {
    width: 210mm; /* A4 format */
    height: 297mm;
  }
}

@page {
  size: A4;
  margin: 11mm 17mm 17mm 17mm;
}

/* --- Special classes ---------------------------------------------------------------------------------------------- */
/* -- Fonts -- */
body, .normal-font {
  font-family: "Noto sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.title-font {
  font-family: "Montserrat", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: 1.75em;
}

/* // Printer */
@media print {
  body, .normal-font {
    font-size: 12pt;
  }
}

/* -- Links -- */
.link {
  color: var(--secondary-color);
}

/* -- Animated strikethrough -- */
/* See https://stackoverflow.com/a/72459455/15024857 */
.animated-strikethrough {
  --strike: 0; /* Enable/disable the strikethrough */
  --thickness: 0.05em;
  --duration: 330ms;
  --timing-function: cubic-bezier(0.6, 0.1, 0.3, 0.9);
  background: linear-gradient(90deg, transparent, currentColor 0) no-repeat right center / calc(var(--strike) * 100%) var(--thickness);
  transition: background-size var(--duration) var(--timing-function);
}

/* - On hover - */
.animated-strikethrough.on-hover:hover {
  --strike: 1;
  background-position-x: left;
}

/* - Always on - */
.animated-strikethrough.always-on {
  transition: none;
  animation-name: always-on-strikethrough;
  animation-duration: var(--duration);
  animation-timing-function: var(--timing-function);
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes always-on-strikethrough {
  from { background-size: 0 var(--thickness); }
  to {
    background-position-x: left;
    background-size: 100% var(--thickness);
  }
}

/* -- Scrolling -- */
.no-scroll-x, .no-scroll { overflow-x: hidden; }
.no-scroll-y, .no-scroll { overflow-y: hidden; }
