/* --- Root CSS ----------------------------------------------------------------------------------------------------- */
:root {
  --primary-color: #FAED26;
  --secondary-color: #7711d0;
  --tertiary-color: #FA269D;
  --background-color: #171139;
  --text-color_primary: #D0CACA;
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  background: var(--background-color);
  color: var(--text-color_primary);
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2 { color: var(--primary-color); }

/* --- Special classes ---------------------------------------------------------------------------------------------- */
.link {
  color: var(--tertiary-color);
}
