/* --- Map ---------------------------------------------------------------------------------------------------------- */
.map { width: 600px; height: 400px; }

/* -- Map wrapper -- */
.map .map-box {
	width: 100%;
	height: 100%;
}

/* -- Tooltip -- */
/* - Content - */
.map .mapboxgl-popup .mapboxgl-popup-content {
	font-size: 1em;
	padding: 10px;
	background: var(--mapboxgl-tooltip-background);
	box-shadow: 0 10px 10px -3px rgba(0,0,0,0.35);
	backface-visibility: hidden;
}

.map .mapboxgl-popup .mapboxgl-popup-content .mapboxgl-popup-close-button {
	font-size: 1.5em;
	color: var(--text-color_background);
}

.map .mapboxgl-popup .mapboxgl-popup-content .mapboxgl-popup-close-button:focus {
	outline: 2px var(--primary-color) dashed;
	outline-offset: -5px;
}

.map .mapboxgl-popup .mapboxgl-popup-content h3 { margin: 0 0 0.20em 0; color: var(--text-color_background); }
.map .mapboxgl-popup .mapboxgl-popup-content p { margin: 0; color: var(--text-color_background) }

/* - Tip - */
/* Top */
.map .mapboxgl-popup.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.map .mapboxgl-popup.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.map .mapboxgl-popup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip { border-bottom-color: var(--mapboxgl-tooltip-background); }

/* Right */
.map .mapboxgl-popup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color: var(--mapboxgl-tooltip-background); }

/* Bottom */
.map .mapboxgl-popup.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.map .mapboxgl-popup.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.map .mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip { border-top-color: var(--mapboxgl-tooltip-background); }

/* Left */
.map .mapboxgl-popup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color: var(--mapboxgl-tooltip-background); }
