name: "Deploy to GitHub Pages"
on:  # Event triggers
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Install dependencies using NPM"
        run: npm install
      - name: "Deployment"
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/EmpireDemocratiqueDuPoulpe/EmpireDemocratiqueDuPoulpe.github.io.git
          npm run deploy -- --user "github-actions-bot <support+actions@github.com>" -m "Deploy React app to GitHub Pages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
